/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --bg-light: #f3f6f9;
  --dark-blue: #363f5f;
  --c-gray: #969cb3;
  --c-orange: #fd7d24;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Ubuntu', sans-serif;
  background: var(--bg-light);
}

li {
  list-style: none;
}

a, button {
  text-decoration: none;
  outline: none;
}

.wrapper {
  width: min(90vw, 1070px);
  margin: 0 auto;
}
